extends main.pug
block content
  .container.mt-5
    include menu.pug
    .row.d-flex.justify-content-center
      .col-xl-9
        h2.mb-4.text-center Wszystkie przepisy
        form.mb-4
          .input-group.mb-3
            input.form-control(type='text' name='name' placeholder='Szukaj przepisu...')
            select.form-select.w-auto.flex-grow-0(name='category')
              option(selected='' value='') Wszystko
              option(value='id') Przedmiot
            button.btn.btn-warning(type='submit' click='searchClick()') Szukaj
        .row.row-cols-1.row-cols-md-2.g-4#recipeList
        .template
          .col#recipeTemplate
            .card
              img.card-img-top(src="img/1.png" alt='Zdjęcie dania')
              .card-body
                h5.card-title Tytuł
                p.card-text Opis
                .d-grid.gap-2.d-md-flex.justify-content-between
                  a.btn.btn-warning(href='/recipe/1') Szczegóły
                  button.btn.btn-outline-success#addToBook(onclick='addToBook(this)') Dodaj do książki
                  button.btn.btn-danger#removeRecipe(click='removeRecipe(this)') Usuń przepis

    script(src='/js/index.js')
