extends main.pug
block content
  .container.mt-5
    include menu.pug
    .row.d-flex.justify-content-center
      .col-xl-9
        h2.mb-4.text-center Wszystkie przepisy
        .input-group.mb-5
          input.form-control(type='text' id='name' placeholder='Szukaj przepisu...')
          select.form-select.w-auto.flex-grow-0(id='category')
            option(selected='' value='') Wszystko
          button.btn.btn-warning(type='submit' onclick='searchClick()') Szukaj
        .row.row-cols-1.row-cols-md-2.g-4#recipeList
  template#recipeTemplate
    .col
      .card
        img.card-img-top(src="img/1.png" alt='Zdjęcie dania')
        .card-body
          h5.card-title Tytuł
          p.card-text Opis
          .d-flex.gap-2.justify-content-between
            a.btn.btn-warning.flex-grow-1(href='/recipe/1') Szczegóły
            button.btn.btn-outline-success.flex-grow-1#addToBook(onclick='addToBook(this)') Dodaj do książki
            button.btn.btn-outline-danger.flex-grow-1#removeFromBook(onclick='removeFromBook(this)') Usuń z książki
            button.btn.btn-danger.flex-grow-1#removeRecipe(onclick='removeRecipe(this)') Usuń przepis

  script(src='/js/index.js')
