div(style='margin-bottom: 45px; border-bottom: 3px white solid; padding-bottom: 20px')
  .d-flex.justify-content-center
    .col-lg-3
      h4.text-center
        a.text-decoration-none(href='/') Przepisy
    .col-lg-3
      h4.text-center
        a.text-decoration-none(href='/my_book') Moja książka kucharska
    .col-lg-3
      h4.text-center
        a.text-decoration-none(href='/new_recipe') Dodaj przepis
    .col-lg-3
      h4.text-center
        a.link-danger.text-decoration-none(href='/' click='logout()') Wyloguj się
