nav.navbar.navbar-expand-lg(style='margin-bottom: 45px; border-bottom: 5px white solid; padding-bottom: 20px')
  #navbarNav.navbar-collapse
    ul.navbar-nav.w-100
      li.fs-3.nav-item.text-center.col
        a.text-decoration-none.link-warning(href='/') Przepisy
      li.fs-3.nav-item.text-center.col
        a.text-decoration-none.link-warning(href='/my_book') Moja książka
      li.fs-3.nav-item.text-center.col
        a.text-decoration-none.link-warning(href='/new_recipe') Dodaj przepis
      li.fs-3.nav-item.text-center.col
        a.text-decoration-none.link-danger(href='/') Wyloguj się
