extends main.pug
block content
  .container.mt-5
    include menu.pug
    .row.d-flex.justify-content-center
      .col-md-9
        h2.mb-4 Dodaj nowy przepis
        form
          .mb-3
            label.form-label(for='recipeName') Nazwa przepisu:
            input.form-control(type='text' id='recipeName' placeholder='Wpisz nazwę przepisu...')
            .mt-1.text-danger#error-title
          .mb-3
            label.form-label(for='shortDescription') Krótki opis:
            textarea.form-control(id='shortDescription' rows='3' placeholder='Dodaj krótki opis...')
            .mt-1.text-danger#error-description
          .mb-3
            label.form-label(for='category') Kategoria:
            select.form-select(id='category')
              option(value='' selected='') Wybierz kategorie...
            .mt-1.text-danger#error-category
          .mb-3
            label.form-label(for='recipeImage') Zdjęcie potrawy: 
            input.form-control(type='file' id='recipeImage')
            .mt-1.text-danger#error-image
          .mb-3
            label.form-label(for='preparationDescription') Opis przygotowania:
            textarea.form-control(id='preparationDescription' rows='5' placeholder='Dodaj opis przygotowania dania...')
            .mt-1.text-danger#error-prep-description
          button.btn.btn-warning.btn-lg.btn-block(type='submit') Dodaj przepis

  script(src='/js/new_recipe.js')
