extends main.pug
block content
  .container.mt-5
    .row
      include menu.pug
    .col-md-9
      h2.mt-1.text-warning Szczegóły przepisu
      .row.mt-4
        .col-md-8
          img.recipe-img.mb-3.w-100.rounded-5(src='/img/1.png' alt='Zdjęcie przepisu')
          h3.mt-1.text-warning Nazwa przepisu
          h5.mt-1.text-warning Opis przepisu
          p(style='white-space: pre-line') Tutaj będzie opis przepisu
          h5.mt-1.text-warning Opis przygotowania
          p(style='white-space: pre-line') Tutaj będzie opis przygotowania
          hr
          p #[span.mt-1.text-warning Autor:] #[strong Jan Kowalski]
          p
            span.mt-1.text-warning Kategoria:
            strong Śniadanie
          p
            span.mt-1.text-warning Data utworzenia:
            strong 26.11.2024

