extends main.pug
block content
  .container.mt-5
    .row
      include menu.pug
    .col-md-9
      h2.mt-1.text-warning Szczegóły przepisu
      .row.mt-4
        .col-md-8
          img.recipe-img.mb-3.w-100.rounded-5(src=`/img/${przepis.zdjecie}` alt='Zdjęcie przepisu')
          h3.mt-1.text-warning= przepis.nazwa
          h5.mt-1.text-warning Opis przepisu
          p(style='white-space: pre-line')= przepis.opis 
          h5.mt-1.text-warning Opis przygotowania
          p(style='white-space: pre-line')= przepis.opis_przygotowania 
          hr
          p #[span.mt-1.text-warning Autor:] #[strong= przepis.autor.username]
          p #[span.mt-1.text-warning Kategoria:] #[strong= przepis.kategoria.nazwa]
          p #[span.mt-1.text-warning Data utworzenia:] #[strong= przepis.data]
