extends main.pug
block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        h2.mb-3 Rejestracja
        form
          .mb-3
            label.form-label(for='username') Nazwa użytkownika
            input.form-control(type='text' id='username')
            .mt-1.text-danger#error_login
          .mb-3
            label.form-label(for='password') Hasło
            input.form-control(type='password' id='password')
            .mt-1.text-danger#error_password
          .mb-3.d-grid
            button.btn.btn-warning(type='submit' click='register()') Zarejestruj sie

  script(src='js/register.js')
